{{extend 'layout.html'}}
{{block navlist}}
<li class="active pull-right"><a href="index.html">Inventory</a></li>
{{end}}
<section>
    <h2>Scoop Inventory</h2>
    <table id="inventory">
        <col class="name">
        <col class="price">
        <col class="sellbydate">
        <thead>
            <tr>
                <th>Name <span class="fa fa-sort"></span></th>
                <th>Price <span class="fa fa-sort"></span></th>
                <th>Sell-by-date <span class="fa fa-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            {{ordering = "itemName"}}
            {{if request.vars.sort:}}
                {{ordering = "inventory." + request.vars.sort}}
            {{pass}}
            {{rows = db(db.inventory.id > 0).select(orderby=ordering)}}
            {{for row in rows:}}
            <tr>
                <td>{{=row.itemName}}</td>
                <td>£{{=format(row.price, '.2f')}} per {{=row.priceUnits}}</td>
                <td>{{=row.sellByDate}}</td>
            </tr>
            {{pass}}
        </tbody>
    </table>
</section>