{{extend 'layout.html'}}
{{block navlist}}
<li class="active pull-right"><a href="index.html">Volunteering</a></li>
{{end}}
<section>
    <h2>Volunteering for Scoop</h2>
    <p>
        Scoop is run by members who have kindly volunteered their time to manage the shop when they can. 
        You can sign up to volunteer for an hour any time Scoop is meant to be open. Every little helps!
        Signing up is done on the <a href="http://doodle.com/tf4q4n5ndd755usz">doodle</a>, which is explained below.
        <br />
        Before you first volunteer, make sure you attend a training session. 
        If there isn't one scheduled, feel free to <a href="mailto:scoop@yusu.org">send us an email</a> and let us know you're interested in volunteering.
    </p>
    <h3>York Scoop Doodle</h3>
    <p>
        How to use doodle.
        Link to doodle
    </p>
</section>