{{extend 'layout.html'}}
{{block navlist}}
<li class="active pull-right"><a href="index.html">Wishlist</a></li>
{{end}}
<section>
    <h2>Scoop Wishlist</h2>
    <p>
        If there are any items that we don't have in stock that you'd like to see at scoop, let us know!
        If it's already on the list, then just click on the plus to the right to let us know more people want it.
        If it's not on the list, scroll to the bottom (or <a href="#addWish">click here</a> if it's a long scroll!), and type in what it is you want.
    </p>
    <section>
        <h3>The Wishlist</h3>
        <table id="wishlist">
            <col class="item">
            <col class="amount">
            <col class="agree">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Interest</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{rows = db(db.wishlist.id > 0).select()}}
                {{for i in range(0, len(rows)):}}
                {{row = rows[i]}}
                <tr>
                    <td>{{=row.item}}</td>
                    <td>{{=row.amount}}</td>
                    <!-- <td><a href="{{=URL('wishlistAdd', args=[i])}}"><span class="fa fa-fw fa-plus"></span></a></td> -->
                    <td><a href="{{=URL('wishlistAdd')}}"><span class="fa fa-fw fa-plus"></span></a></td>
                </tr>
                {{pass}}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Add to the Wishlist</h3>
        {{=form.custom.begin}}
        {{=form.custom.widget.item}} {{=form.custom.submit}} 
        {{=form.custom.end}}
    </section>
</section>
{{block scripts}}
<script type="text/javascript">
    document.getElementById("wishlist_item").placeholder = "Add a new item.";
</script>
{{end}}