<!DOCTYPE html>

<html lang="{{=T.accepted_language or 'en'}}">
    <head>
        {{ block head }}
        {{ block title }}
        <title>Bootup Crowdfunding</title>
        {{ end }}
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="Crowdfund, Bootable, Bootup">

        <link type="text/css" href="{{ =URL('static', 'css/bootstrap.min.css') }}" rel="stylesheet"> 
        <link type="text/css" href="{{ =URL('static', 'css/web2py_bootstrap.css') }}" rel="stylesheet"> 
        <link type="text/css" href="{{ =URL('static', 'css/default.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ =URL('static', 'css/hug.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ =URL('static', 'css/theme.css') }}" rel="stylesheet">
        {{ end }}
    </head>
    <body>
        <header>
            <h1 class="title-small">Bootup!</h1>
            {{ block navbar }}
            <nav class="horizontal">
                <ul>
                    <li><a href="{{ =URL('default', 'index') }}" tabindex="1"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <form action="{{ =URL('bootable', 'search.html') }}" method="post">
                    <select name="search-category" class="prepend" tabindex="2">
                        <option value="All">All Categories</option>
                        {{ for row in db().select(db.bootable_category.name): }}
                        <option value="{{ =row.name }}">{{ =row.name }}</option>
                        {{ pass }}
                    </select>
                    <input type="search" name="navsearch" class="appended prepended" placeholder="Search Bootables" tabindex="2">
                    <input type="submit" value="Go" class="append search" tabindex="2">
                </form>
                <ul class="float-right">
                    <li><a href="{{ =URL('bootable', 'create') }}" tabindex="3"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Bootable</a></li>
                    {{ if session.logged_in_user: }}
                    <li><a href="{{ =URL('user', 'dashboard') }}" tabindex="3"><span class="glyphicon glyphicon-list"></span> Dashboard</a></li>
                    <li><a href="{{ =URL('user', 'profile') }}" tabindex="3"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{{ =URL('user', 'logout') }}" tabindex="3"><span class=" glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    {{ else: }}
                    <li><a href="{{ =URL('user', 'login') }}" tabindex="3"><span class=" glyphicon glyphicon-log-in"></span> Log In</a></li>
                    <li><a href="{{ =URL('user', 'new') }}" tabindex="3"><span class=" glyphicon glyphicon-edit"></span> Register</a></li>
                    {{ pass }}
                </ul>
            </nav>
            {{ end }}
        </header>
        <main>
            {{ include }}
            {{ pass }}
        </main>
        <footer>
            <span class="mirrored">&copy;</span> Copyleft IAPT 2014-15
        </footer>
        {{ block scripts }}
        <script src="{{ =URL('static','js/jquery.js') }}"></script>
        <script src="{{ =URL('static','js/hug.js') }}"></script>
        <script src="{{ =URL('static','js/func.js') }}"></script>
        {{ end }}
    </body>
</html>