<!DOCTYPE html>

<html lang="{{=T.accepted_language or 'en'}}">
    <head>
        {{ block head }}
        <title>Bootup Crowdfunding</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="Crowdfund, Bootable, Bootup">

        <link type="text/css" href="{{ =URL('static', 'css/default.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ =URL('static', 'css/hug.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ =URL('static', 'css/theme.css') }}" rel="stylesheet">
        {{ end }}
    </head>
    <body>
        <header>
            {{ block title }}
            <h1 class="title-small">Bootup!</h1>
            {{ end }}
            {{ block navbar }}
            <nav class="horizontal">
                <ul>
                    <li><a href="{{ =URL('default', 'index') }}" tabindex="1"><span class="fa fa-home"></span> Home</a></li>
                </ul>
                <form action="{{ =URL('bootable', 'search.html') }}" method="post">
                    <input type="search" name="navsearch" placeholder="Search Bootables" tabindex="2">
                    <input type="submit" value="Go" class="append search" tabindex="2">
                </form>
                <ul class="float-right">
                    <li><a href="{{ =URL('bootable', 'create') }}" tabindex="3"><span class="fa fa-plus"></span> New Bootable</a></li>
                    {{ if True: }}
                    <li><a href="{{ =URL('user', 'login') }}" tabindex="3"><span class="fa fa-sign-in"></span> Log In</a></li>
                    <li><a href="{{ =URL('user', 'new') }}" tabindex="3"><span class="fa fa-pencil-square-o"></span> Register</a></li>
                    {{ else: }}
                    <li><a href="{{ =URL('user', 'dashboard') }}" tabindex="3"><span class="fa fa-list"></span> Dashboard</a></li>
                    <li><a href="{{ =URL('user', 'profile') }}" tabindex="3"><span class="fa fa-user"></span> Profile</a></li>
                    {{ pass }}
                </ul>
            </nav>
            {{ end }}
        </header>
        <main>
            {{ include }}
            {{ pass }}
        </main>
        <footer>
            <span class="mirrored">&copy;</span> Copyleft IAPT 2014-15
        </footer>
        {{ block scripts }}
        <script src="{{ =URL('static','js/jquery.js') }}"></script>
        <script src="{{ =URL('static','js/hug.js') }}"></script>
        <script src="{{ =URL('static','js/func.js') }}"></script>
        {{ end }}
    </body>
</html>