{{ extend 'layout.html' }}
<section>
    {{ if form.errors: }}
    <div class="alert alert-danger">
        {{ =T('The form currently has some errors.') }}
    </div>
    {{ elif response.flash: }}
    <div class="alert alert-info">
        {{ =response.flash }}
    </div>
    {{ pass }}
    <h2>Login</h2>
    <form id="login-form" action="#" enctype="multipart/form-data" method="post" class="central">
        <div class="central">
            <input name="username" id="user_username" 
                   class="string {{ =('error clarified' if form.errors.username else '') }}" 
                   placeholder="Username"  
                   autofocus="true" 
                   type="text" 
                   value="">
            <br>
            {{ if form.errors.username == T('Value not in database'): }}
            <small class="error-message">{{ =T('There is no user with that username.') }}</small>
            {{ elif form.errors.username: }}
            <small class="error-message">{{ =form.errors.username }}</small>
            {{ pass }}
        </div>
        <input type="submit" value="Log in">
        <div style="display:none;">
            <input name="_formkey" type="hidden" value="{{ =form.formkey }}">
            <input name="_formname" type="hidden" value="login">
        </div>
    </form>
</section>