{{ extend 'layout.html' }}
<section>
    <h2>Register</h2>
    <p>
        In order to pledge to a project, or start a project of your own, you'll need to create an account with us.
        Just fill in the following information and you're set!
        None of the information we keep about you will be sold to anyone (advertisers) or given away. 
        We cannot, however, guarantee that it won't be stolen.
    </p>
    <div class="form-progression">
        <ul class="progress-steps">
            {{ if stage == 0: }}
            <li>Basic Info</li>
            <li class="progress-inactive">Credit Card Info</li>
            {{ else: }}
            <li class="progress-inactive">Basic Info</li>
            <li>Credit Card Info</li>
            {{ pass }}
        </ul>
        <div class="progress-container"><div id="registration-progress" class="progress-bar" style="width:{{ =max(1, min((stage) * 50, 99)) }}%;"></div></div>
    </div>
    
    {{ =response.flash }}
    
    {{ include 'user/register_' + str(stage+1) + '.html' }}
    
    <h3>Session Vars</h3>
    {{ =session }}
    <h3>Form Errors</h3>
    {{ =forms[stage].errors }}
    
</section>