<form id="user-registration" onsubmit="return calculateHidden({{=stage}});" action="#form-progression" enctype="multipart/form-data" method="post" class="central">
    <section>
        <h3>Basic Info</h3>
        <div class="indented">
            <input name="username" id="username" class="string {{ =('error clarified' if forms[stage].errors.username else '') }}" placeholder="Username" type="text" value="{{ =request.vars.username or '' }}" >
            <h5>Full Name</h5>
            <input name="forename" id="forename" class="string {{ =('error' if forms[stage].errors.real_name else '') }}" placeholder="First Name" type="text" value="{{ =request.vars.forename or '' }}" >
            <input name="surname" id="surname" class="string {{ =('error clarified' if forms[stage].errors.real_name else '') }}" placeholder="Surname" type="text" value="{{ =request.vars.surname or '' }}" >

            <h5>Date of Birth</h5>
            <input name="birthdate_year" id="dob_year" class="date date-long {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="YYYY" type="text" value="{{ =request.vars.birthdate_year or '' }}" >
            <input name="birthdate_month" id="dob_month" class="date date-short {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="MM" type="text" value="{{ =request.vars.birthdate_month or '' }}" >
            <input name="birthdate_day" id="dob_day" class="date date-short {{ =('error clarified' if forms[stage].errors.birthdate else '') }}" placeholder="DD" type="text" value="{{ =request.vars.birthdate_day or '' }}" >
        </div>
    </section>
    <section>
        <h3>Address</h3>
        <div class="indented">
            <input name="street_address" id="street_address" class="string address-long {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="Street Address" type="text" value="">
            <br>
            <input name="city" id="city" class="string address-short {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="City" type="text" value="">
            <br>
            <input name="postcode1" id="postcode1" class="string postcode-long {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="Post" type="text" value="">
            <input name="postcode2" id="postcode2" class="string postcode-short {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="Code" type="text" value="">
            <br>
            <input name="country" id="country" class="string address-short {{ =('error' if forms[stage].errors.birthdate else '') }}" placeholder="Country" type="text" value="">
        </div>
    </section>
    
    <input type="submit" value="Continue">
    
    <div style="display:none;">
        <!-- Calculated Values -->
        <input name="real_name" id="real_name" class="string" type="text" value="" >
        <input name="birthdate" id="birthdate" class="date" type="text" value="" >
        <input name="postcode" class="string" id="postcode" type="text" value="">
        <!-- Web2py Values -->
        <input name="_formkey" type="hidden" value="{{ =forms[stage].formkey }}" >
        <input name="_formname" type="hidden" value="basic-info" >
    </div>
</form>