<form id="user-registration" onsubmit="return calculateHidden({{=stage}});" action="#" enctype="multipart/form-data" method="post" class="central">
    <section>
        <h3>Basic Info</h3>
        <div class="indented">
            <input name="username" id="username" class="string clarified" placeholder="Username" type="text" value="" >
            <br>
            <small>Your username must be unique to you.</small>

            <h5>Full Name</h5>
            <input name="forename" id="forename" class="string" placeholder="First Name" type="text" value="" >
            <input name="surname" id="surname" class="string" placeholder="Surname" type="text" value="" >

            <h5>Date of Birth</h5>
            <input name="birthdate_year" id="dob_year" class="date date-long" placeholder="YYYY" type="text" value="" >
            <input name="birthdate_month" id="dob_month" class="date date-short" placeholder="MM" type="text" value="" >
            <input name="birthdate_day" id="dob_day" class="date date-short" placeholder="DD" type="text" value="" >
        </div>
    </section>
    <section>
        <h3>Address</h3>
        <div class="indented">
            <input name="street_address" id="street_address" class="string address-long" placeholder="Street Address" type="text" value="">
            <br>
            <input name="city" id="city" class="string address-short" placeholder="City" type="text" value="">
            <br>
            <input name="postcode1" id="postcode1" class="string postcode-long" placeholder="Post" type="text" value="">
            <input name="postcode2" id="postcode2" class="string postcode-short" placeholder="Code" type="text" value="">
            <br>
            <input name="country" id="country" class="string address-short" placeholder="Country" type="text" value="">
        </div>
    </section>
    
    <input type="submit" value="Continue" class="middle">
    
    <div style="display:none;">
        <!-- Calculated Values -->
        <input name="real_name" id="real_name" class="string" type="text" value="" >
        <input name="birthdate" id="birthdate" class="date" type="text" value="" >
        <input name="postcode" class="string" id="postcode" type="text" value="">
        <!-- Web2py Values -->
        <input name="_formkey" type="hidden" value="{{ =forms[stage].formkey }}" >
        <input name="_formname" type="hidden" value="basic-info" >
    </div>
</form>