<form id="user-registration" onsubmit="return calculateHiddenRegistration({{=stage}}, this);" action="" enctype="multipart/form-data" method="post" class="central">
    <section>
        <h3>Credit Card</h3>
        <div class="indented">
            <input name="card_number" id="card_number" 
                   class="string credit-card-long {{ =('error clarified' if form.errors.card_number else '') }}" 
                   placeholder="Card Number" 
                   type="text" 
                   value="{{ =request.vars.card_number or '' }}">
            {{ if form.errors.card_number: }}
            <br><small class="error-message">{{ =form.errors.card_number }}</small>
            {{ pass }}
            <br>
            <input name="identifying_code" id="identifying_code" 
                   class="string credit-card-short {{ =('error clarified' if form.errors.identifying_code else '') }}" 
                   placeholder="CVC" 
                   autocomplete="off"
                   type="text" 
                   value="">
            {{ if form.errors.identifying_code: }}
            <br><small class="error-message">{{ =form.errors.identifying_code }}</small>
            {{ pass }}
            <h5>Expiry Date</h5>
            <input name="expiry_date_year" id="expiry_date_year" 
                   class="date date-long {{ =('error clarified' if form.errors.expiry_date else '') }}" 
                   placeholder="YYYY" 
                   type="text" 
                   value="{{ =request.vars.expiry_date_year or '' }}">
            <input name="expiry_date_month" id="expiry_date_month" 
                   class="date date-short {{ =('error clarified' if form.errors.expiry_date else '') }}" 
                   placeholder="MM" 
                   type="text" 
                   value="{{ =request.vars.expiry_date_month or '' }}">
            {{ if form.errors.expiry_date == "Enter date as 1963-08-28": }}
            <br><small class="error-message">{{ ="Enter date as 2016-01" }}</small>
            {{ pass }}
        </div>
    </section>
    <section>
        <h3>Billing Address</h3>
        <div class="indented">
            <input name="street_address" id="street_address" 
                   class="string address-long" 
                   placeholder="Street Address" 
                   type="text" 
                   value="{{ =session.address_vars['street_address'] }}">
            <br>
            <input name="city" id="city" 
                   class="string address-short" 
                   placeholder="City" 
                   type="text" 
                   value="{{ =session.address_vars['city'] }}">
            <br>
            <input name="postcode1" id="postcode1" 
                   class="string postcode-long" 
                   placeholder="Post" 
                   type="text" 
                   value="{{ =session.address_vars['postcode'][0:-3] }}">
            <input name="postcode2" id="postcode2" 
                   class="string postcode-short" 
                   placeholder="Code" 
                   type="text" 
                   value="{{ =session.address_vars['postcode'][-3:] }}">
            <br>
            <input name="country" id="country" 
                   class="string address-short" 
                   placeholder="Country" 
                   type="text" 
                   value="{{ =session.address_vars['country'] }}">
        </div>
    </section>
    
    <input class="btn btn-default" type="submit" value="Register">
    
    <div style="display:none;">
        <!-- Calculated Values -->
        <input name="expiry_date" id="expiry_date" class="date" type="text" value="" >
        <input name="billing_address" id="billing_address" class="string" type="text" value="">
        <input name="postcode" id="postcode" class="string" type="text" value="">
        <!-- Form Variables -->
        <input name="_formkey" type="hidden" value="{{ =formkey }}" >
        <input name="_formname" type="hidden" value="billing-info" >
        <!-- My Values -->
        <input name="registration_stage" type="hidden" value="{{ =stage }}">
    </div>
</form>