<form id="user-registration" onsubmit="return calculateHidden();" action="#" enctype="multipart/form-data" method="post" class="central">
    <section>
        <h3>Credit Card</h3>
        <input name="card_number" class="string credit-card-long" id="no_table_card_number" placeholder="Card Number" type="text" value="">
        <br>
        <input name="identifying_code" class="string credit-card-short" id="no_table_identifying_code" placeholder="CVC" type="text" value="" autocomplete="off">
        <h5>Expiry Date</h5>
        <input name="expiry_date_year" class="date date-short" placeholder="YY" type="text" value="" >
        <input name="expiry_date_year" class="date date-short" placeholder="MM" type="text" value="" >

        <br>
        <section>
            <h5>Billing Address</h5>
            Use previous address <input id="toggle_address_button" type="checkbox" onclick="toggle_billing_address(this);">
            <br>
            <input name="billing_street_address" class="string address-long" id="billing_street_address" placeholder="Street Address" type="text" value="">
            <br>
            <input name="billing_city" class="string address-short" id="billing_city" placeholder="City" type="text" value="">
            <br>
            <input name="billing_postcode1" class="string postcode-long" placeholder="Post" type="text" value="">
            <input name="billing_postcode2" class="string postcode-short" placeholder="Code" type="text" value="">
            <br>
            <input name="billing_country" class="string address-short" id="no_table_country" placeholder="Country" type="text" value="">
        </section>
    </section>
    
    <input type="submit" value="Submit">
    
    <div style="display:none;">
        <!-- Calculated Values -->
        <!-- User -->
        <input name="real_name" class="string" id="no_table_real_name" type="text" value="" >
        <input name="birthdate" class="date" id="no_table_birthdate" type="text" value="" >
        <!-- Address -->
        <input name="postcode" class="string" id="no_table_postcode" type="text" value="">
        <!-- Credit Card -->
        <input name="expiry_date" class="date" id="no_table_expiry_date" type="text" value="" >
        <input name="billing_address" class="string" id="billing_address" type="text" value="">

        <!-- Form Variables -->
        <input name="_formkey" type="hidden" value="{{ =forms[stage].formkey }}" >
        <input name="_formname" type="hidden" value="no_table/create" >
        
        
    </div>
</form>



