/*
Funcionality
----------------------------------------------*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.mirrored {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.upcase {
    text-transform: uppercase;
}
.downcase {
    text-transform: lowercase;
} 
.titlecase {
    text-transform: capitalize;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none; 
    user-select: none;
}

.clear {
    clear: both;
}

/*
Layout
----------------------------------------------*/
*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
}
header h1.title-big {
    margin-bottom: 2em;
    margin-top: 1em;
}
header h1.title-small {
    text-align: center;
}

.proviso {
    color: #888;
    font-size: 0.8em;
}

section > h2 {
    text-align: center;
}

.indented {
    padding-left: 5%;
}

div {
    margin-bottom: 1rem;
}

div.alert {
    text-align: center;
}

label > input[type="file"] {
    display: none;
}

div.bordered {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
}

small,
.small {
    font-size: 0.8em;
    line-height: 100%;
    color: #888;
}
div.small {
    margin-bottom: 0.4em;
}

.unlabled {
    list-style-type: none;
}

/*
Centralised Things
--------------------------------------*/
.central {
    padding-left: 20%;
    padding-right: 20%;
}
.centre-align {
    text-align: center;
}

    /*
    Global Nav Bar
    --------------------------------------*/
    nav {
        padding-bottom: 0.5em;
    }
    nav.indent {
        padding-left: 10%;
        padding-right: 10%;
    }
    nav.horizontal {
        border-bottom: 1px solid #ccc;
    }
    nav > ul {
        list-style: none;
        margin-bottom: 0;
    }
    nav.horizontal > * {
        display: inline-block;
    }
    nav.horizontal > ul > li {
        display: inline-block;
    }
    nav.horizontal > ul > li, 
    nav.horizontal > ul.float-left > li {
        margin-left: 0;
        margin-right: 1em;
    }
    nav.horizontal > ul.float-right > li {
        margin-left: 1em;
        margin-right: 0;
    }
    nav > ul > li > a > .fa {
        font-size: 1rem;
        padding-right: 0.1em;
    }
    nav form {
        margin-bottom: 0;
        position: relative;
        top: 0.2em;
    }
    nav form > select {
        background-color: #e0e3e5;
        color: #222;
        margin-bottom: 0;
    }
    nav form > select > option {
        color: #222;
    }
    nav .float-left, nav .float-right {
        position: relative;
        top: 0.2em;
    }
    input[type="search"] {
        background: none repeat scroll 0% 0% #FFF;
        border: 1px solid #CCC;
        position: relative;
        top: 0px;
        vertical-align: text-bottom;
        line-height: 1.1rem;
        margin-bottom: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    button.search,
    input[type="submit"].search {
        line-height: 1rem;
        position: relative;
        top: 0px;
    }
    button.square,
    input[type="submit"].square {
        border-radius: 0;
    }
    .prepend {
        background-color: #E0E3E5;
        min-width: 1rem;
        line-height: 1.1rem;
        height: 1.8rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: 1px solid #ccc;
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
        border-right-color: #E0E3E5;
        float: left;
    }
    .append {
        height: 1.8rem;
    }
    select.prepend {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    input[type="search"].appended {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="search"].prepended {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /*
    Progress Bar
    --------------------------------------*/
    .form-progression {
        margin-top: 3em;
    }
    ul.progress-steps {
        list-style: none;
        margin-bottom: 0;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    ul.progress-steps > li {
        display: table-cell;
        text-align: center;
        font-weight: bold;
    }
    ul.progress-steps > li.progress-inactive {
        color: #888;
    }
    .progress-container {
        width: 100%;
        height: 0.4em;
        border: 1px solid #134DA5;
        border-radius: 2px;
    }
    .progress-bar {
        height: 100%;
        background-color: #134DA5;
    }
    .form-progression {
        margin-bottom: 4em;
    }

    /*
    Forms
    --------------------------------------*/
    .date-long {
        width: 4em;
    }
    .date-short {
        width: 2.5em;
    }
    .name-long {
        width: 14rem;
    }
    .name-short {
        width: 12rem;
    }
    .address-long {
        width: 16em;
    }
    .address-short {
        width: 12em;
    }
    .postcode-short {
        width: 3.5em;
    }
    .postcode-long {
        width: 4.5em;
    }
    .price-long {
        width: 7em;
    }
    .price-short {
        width: 4em;
    }
    .credit-card-long {
        width: 12em;
    }
    .credit-card-short {
        width: 3.5em;
    }
    .title-long {
        width: 20em;
    }
    .category-long {
        width: 11em;
        margin-left: 0.4em;
    }
    .summary-small {
        width: 20em;
        height: 9.3em;
    }
    .summary-short {
        width: 32em;
        height: 7em;
    }
    .summary-long {
        width: 32em;
        height: 12em;
    }
    .description-long {
        width: 39.3em;
        height: 10em;
    }
    @keyframes highlight-border-red {
        0%   {border-color: #F00;}
        33%  {border-color: #A94442;}
        66%  {border-color: #F2DEDE;}
        100% {border-color: #CCC;}
    }
    input.error {
        animation: highlight-border-red 6s linear;
    }
    input.clarified {
        margin-bottom: 0;
    }
    #currency.prepend {
        padding-left: 0.4em;
        padding-right: 0.2em;
        border-radius: 0;
    }
    .upload-droparea {
        position: relative;
        overflow: hidden;
        padding: 2em 0.5em;
        border: 3px dashed rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 0.5em;
        width: 18em;
    }

    /*
    Registration
    --------------------------------------*/
    form#user-registration {
        margin-left: 4em;
    }
    form#user-registration input[type="submit"]{
        margin-top: 2em;
        margin-left: 6em;
    }

    /*
    Logging In
    --------------------------------------*/
    form#login-form {
        text-align: center;
    }
    form#login-form input[type="text"] {
        margin-top: 5em;
    }
    form#login-form input[type="submit"]{
        margin-top: 1em;
    }
    .error-message {
        display: inline-block;
        color: #A94442;
    }

    /*
    Header Tabs
    --------------------------------------*/
    ul#header-tabs {
        list-style: none;
        text-align: center;
    }
    ul#header-tabs > li {
        display: inline-block;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        width: 30%;
    }
    ul#header-tabs > li > h3 {
        font-size: 100%;
    }
    ul#header-tabs > li > h3 > a.inactive {
        color: #222;
    }
    section.featured {
        display: none;
    }
    section.featured:target,
    section.featured.active {
        display: block;
    }

    /*
    Features & Dashboard
    --------------------------------------*/
    #project-list,
    section.featured > ol {
        list-style: none;
    }
    #project-list > li,
    section.featured > ol > a > li {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        border: 1px solid #888;
        border-radius: 8px;
        padding: 0;
        height: 14rem;
    }
    #project-list div,
    section.featured div {
        margin-bottom: 0;
    }
    div.feature-image {
        display: inline-block;
        width: 30%;
        height: 100%;
        margin-right: 1em;
    }
    div.feature-image img {
        width: 18rem;
        height: 100%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    div.feature-info {
        display: inline-block;
        vertical-align: top;
        width: 65%;
    }
    section.featured > ol > a:focus > li,
    section.featured > ol > a > li:hover {
        border-color: #de2c3b;
        background-color: #f0f0f0;
        box-shadow: 0 0 2px #de2c3b;
    }
    section.featured > ol > a {
        color: inherit;
        width: 100%;
        height 100%;
    }
    section.featured a:focus,
    section.featured a:hover {
        color: inherit;
        border-bottom: none;
    }
    div.feature-info h3 {
        margin-top: 1em;
        margin-bottom: 0em;
    }
    #project-list div.feature-info .feature-author,
    section.featured div.feature-info .feature-author {
        font-size: 90%;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 1.5em;
    }
    #project-list div.feature-info .feature-description,
    section.featured div.feature-info .feature-description {
        margin-bottom: 1em;
    }
    #project-list div.feature-info .progress-container,
    section.featured div.feature-info .progress-container {
        border-color: #888;
        margin-bottom: 0.5em;
    }
    #project-list div.feature-info .progress-bar,
    section.featured div.feature-info .progress-bar {
        background-color: #888;
    }
    #project-list div.feature-info .feature-completion,
    section.featured div.feature-info .feature-completion {
        color: #888;
        display: inline-block;
        width: 24%;
    }
    #project-list div.feature-info .feature-category,
    section.featured div.feature-info .feature-category {
        color: #888;
        display: inline-block;
        width: 24%;
    }
    #project-list div.feature-info .feature-backers,
    section.featured div.feature-info .feature-backers {
        color: #888;
        display: inline-block;
        width: 24%;
    }
    #project-list div.feature-info .feature-total,
    section.featured div.feature-info .feature-total {
        color: #888;
        display: inline-block;
        width: 24%;
    }
    #project-list div.feature-info .project-status {
        color: #888;
        display: inline-block;
        width: 40%;
        margin-top: 1em;
        float: right;
        text-align: right;
    }
    #project-list > li {
        margin-bottom: 4rem;
    }
    ol.project-options,
    ul.project-options {
        display: inline-block;
    }
    ol.project-options > li,
    ul.project-options > li {
        display: inline-block;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
    ol.project-options > li > .delete-button,
    ul.project-options > li > .delete-button {
        margin-bottom: 0;
        position: static;
    }

    form#bootable-edit,
    form#pledge-edit {
        display: inline-block;
    }
    form#bootable-edit {
        float: left;
    }
    form#pledge-edit {
        float: right;
    }

    div.edit-bootable {
        display: inline-block;
    }
    div.edit-pledges {
        display: inline-block;
        padding-left: 1.2em;
        border-left: 1px solid #ccc;
        vertical-align: top;
        float: right;
    }
    div.edit-pledges .pledge {
        width: 20em;
        margin-bottom: 0.4em;
    }
    div.edit-pledges .delete-button {
        float: right;
        margin-bottom: 0.5em;
    }
    div.edit-pledges section.pledge-addition {
        margin-top: 3em;
    }
    div.edit-pledges section.pledge-addition h6 {
        margin-top: 0;
    }
    div.edit-pledges > ol > li > div.pledge {
        float: right;
    }
    div.edit-info {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    }
    div.edit-image {
        display: inline-block;
        height: 14em;
        margin-right: 1em;
        margin-bottom: 0;
    }
    div.edit-image img {
        width: 18rem;
        height: 100%;
        border-radius: 0;
    }

    /*
    Bootable View
    --------------------------------------*/
    div.pledge {
        display: inline-block;
        vertical-align: bottom;
        width: 70%;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
    }
    .pledge-reward {
        margin-bottom: 0.3em;
    }
    button.delete-button {
        margin-bottom: 1rem;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        background-color: #D9534F;
        border-color: #D43F3A;
        color: #fff;
    }
    button.delete-button:focus,
    button.delete-button:hover {
        background-color: #C9302C;
        border-color: #650300;
    }

    /*
    Footer
    --------------------------------------*/
    footer {
        text-align: center;
        margin-top: 6em;
        margin-bottom: 2em;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    } 

    footer ul li { 
        display: inline-block; 
    }
    footer ul.dotted li:after { content: " \2022 "; }
    footer ul.dotted li:last-child:after { content: none; }

    footer li > a {
        width: 60px;
        padding-left: 1em;
        padding-right: 1em;
    }

    footer #links {
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.8);
    }

    footer #credits {
        margin-top: 3em;
    }


/*
Style
----------------------------------------------*/

    input[type="search"] {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
    button.search,
    input[type="submit"].search {
        border-radius: 0;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
    /*
    Footer
    --------------------------------------*/
    footer {
        color: rgba(0, 0, 0, 0.4);
    }
    footer #credits h3 {
        color: rgba(0, 0, 0, 0.4);
    }
    footer a {
        color: rgba(0, 0, 0, 0.5);
    }
    footer a:hover { 
        color: rgba(0, 0, 0, 0.7);
    }

    /*
    Targeted link to fade.
    --------------------------------------*/
    @keyframes highlight-yellow {
        0%   {background: #ffc800;}
        100% {background: inherit;}
    }

    .highlight:target {
        animation: highlight-yellow 4s linear;
    }