<form id="bootable-creation" onsubmit="return calculateHiddenBootable({{=stage}}, this);" action="" enctype="multipart/form-data" method="post" class="central">
    <section>
        <h3>Project Pledges</h3>
        <div class="indented">
            <h5>Pledges Added</h5>
            <ol class="indented unlabled">
                {{ for row in db(db.bootable_pledges.bootable_id == session.bootable_id).select(): }}
                <li>
                    <div class="bordered pledge">
                        <strong>{{ =row.title }}</strong>
                        <span style="float:right;"><span id="currency">£</span>{{ ="%.2f" % row.cost }}</span>
                        <div class="pledge-reward">{{ =row.reward }}</div>
                        {{ if row.include_previous_rewards: }}
                        <div class="small centre-align">Includes all previous rewards.</div>
                        {{ pass }}
                    </div>
                    <button class="delete-button" type="submit" onclick="deletePledge({{ =row.id }});">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </li>
                {{ pass }}
            </ol>
                {{ if not db(db.bootable_pledges.bootable_id == session.bootable_id).select(): }}
                <div class="bordered">
                You haven't added any pledges yet.
                </div>
                {{ pass }}
            <hr>
            <h5>Add a Pledge</h5>
            <div class="indented">
                <input name="title" id="title" 
                       class="string title-short {{ =('error clarified' if form.errors.title else '') }}" 
                       placeholder="Title" 
                       type="text" 
                       value="{{ =request.vars.title or '' }}">
                {{ if form.errors.title: }}
                <br><small class="error-message">{{ =form.errors.title }}</small>
                {{ pass }}

                <h5>Cost</h5>
                <span id="currency" class="prepend">£</span>
                <input name="cost" id="cost" 
                          class="number price-long {{ =('error clarified' if form.errors.cost else '') }}" 
                          placeholder="00.00" 
                          type="text"
                          value="{{ =request.vars.cost or '' }}">
                {{ if form.errors.cost: }}
                <br><small class="error-message">{{ =form.errors.cost }}</small>
                {{ pass }}

                <h5>Reward</h5>
                <textarea name="reward" id="reward" 
                          class="string summary-short {{ =('error clarified' if form.errors.reward else '') }}">{{ =request.vars.reward or '' }}</textarea>
                {{ if form.errors.reward: }}
                <br><small class="error-message">{{ =form.errors.reward }}</small>
                {{ pass }}
                Include previous rewards: <input name="include_previous_rewards" id="include_previous_rewards" 
                      type="checkbox"
                      {{ ='checked="checked"' if request.vars.include_previous_rewards else '' }}>
                <br>
                <input class="btn btn-default" type="submit" value="Add Pledge">
            </div>
            <hr>
        </div>
    </section>
    
    <br>
    
    <input class="btn btn-default" type="submit" onclick="finishUp();" value="Finish">
    
    <div style="display:none;">
        <!-- Calculated Values -->
        <input name="bootable_id" id="bootable_id" type="number" value="{{ =session.bootable_id }}">
        <!-- Web2py Values -->
        <input name="_formkey" type="hidden" value="{{ =formkey }}">
        <input name="_formname" type="hidden" value="pledges">
        <!-- My Values -->
        <input name="creation_stage" type="hidden" value="{{ =stage }}">
        <input name="finish" id="finish" type="hidden" value="">
        <input name="deletion" id="deletion" type="hidden" value="">
    </div>
</form>